#Options +ExecCGI +FollowSymLinks -Indexes

Options -Indexes

RewriteEngine on
#RewriteBase /

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteCond %{QUERY_STRING} ^(.*)\.\.\/(.*)$
RewriteRule . %1/%2 [F,L]

RewriteCond %{REQUEST_URI} ^(.*)error_log$
RewriteRule . %1/%2 [F,L]


<Files .htaccess$>
order allow,deny
deny from all
satisfy all
</Files>

